<template>
  <div>
    <div  class="login-container">
        <h2 class="login-title">管理系统</h2>
      <el-form ref="form" :model="form" label-width="80px" class="login-form">
        <el-form-item label="用户名">
          <el-input v-model="form.username"></el-input>
        </el-form-item>
        <el-form-item label="密码">
          <el-input v-model="form.password"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">登录</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      drawer: false,
      direction: 'rtl',
      form: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    handleClose (done) {
      this.$confirm('确认关闭？')
        .then((_) => {
          done()
        })
        .catch((_) => {})
    },
    onSubmit () {
      console.log('submit!')
    }
  }
}
</script>

<style>
.login-form {
  width: 500px;
  margin: 160px auto; /* 上下间距160px，左右自动居中*/
  background-color: rgba(19, 17, 17, 0.9); /* 透明背景色 */
  padding: 50px;
  border-radius: 20px; /* 圆角 */
}

/* 背景 */
.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: url("../../assets/background.jpg"); */
}

/* 标题 */
.login-title {
  color: #303133;
  text-align: center;
   margin: 100px;
}
</style>
